[submodule "src/external/LLaMA-Factory"]
	path = src/external/LLaMA-Factory
	url = git@github.com:ellisbrown/TsT-LLaMA-Factory.git
	branch = main
[submodule "src/reference/dataenvgym"]
	path = src/reference/dataenvgym
	url = https://github.com/codezakh/dataenvgym.git
